@charset "UTF-8";
:root {
  --liu-color-primary: #409eff;
  --liu-color-primary-light-3: #79bbff;
  --liu-color-primary-light-5: #a0cfff;
  --liu-color-primary-light-7: #c6e2ff;
  --liu-color-primary-light-9: #ecf5ff;
  --liu-color-primary-dark-2: #337ecc;
  --liu-color-primary-light-8: #d9ecff;
  --liu-color-success: #67c23a;
  --liu-color-success-light-3: #95d475;
  --liu-color-success-light-5: #b3e19d;
  --liu-color-success-light-7: #d1edc4;
  --liu-color-success-light-9: #f0f9eb;
  --liu-color-success-dark-2: #529b2e;
  --liu-color-success-light-8: #e1f3d8;
  --liu-color-warning: #e6a23c;
  --liu-color-warning-light-3: #eebe77;
  --liu-color-warning-light-5: #f3d19e;
  --liu-color-warning-light-7: #f8e3c5;
  --liu-color-warning-light-9: #fdf6ec;
  --liu-color-warning-dark-2: #b88230;
  --liu-color-warning-light-8: #faecd8;
  --liu-color-danger: #f56c6c;
  --liu-color-danger-light-3: #f89898;
  --liu-color-danger-light-5: #fab6b6;
  --liu-color-danger-light-7: #fcd3d3;
  --liu-color-danger-light-9: #fef0f0;
  --liu-color-danger-dark-2: #c45656;
  --liu-color-danger-light-8: #fde2e2;
  --liu-color-info: #909399;
  --liu-color-info-light-3: #b1b3b8;
  --liu-color-info-light-5: #c8c9cc;
  --liu-color-info-light-7: #dedfe0;
  --liu-color-info-light-9: #f4f4f5;
  --liu-color-info-dark-2: #73767a;
  --liu-color-info-light-8: #e9e9eb;
  --liu-color-white: #fff;
  --liu-color-black: #000;
  --liu-bg-color: #ffffff;
  --liu-bg-color-page: #f2f3f5;
  --liu-bg-color-overlay: #ffffff;
  --liu-text-color-primary: #303133;
  --liu-text-color-regular: #606266;
  --liu-text-color-secondary: #909399;
  --liu-text-color-placeholder: #a8abb2;
  --liu-text-color-disabled: #c0c4cc;
  --liu-border-color: #dcdfe6;
  --liu-border-color-light: #e4e7ed;
  --liu-border-color-lighter: #ebeef5;
  --liu-border-color-extra-light: #f2f6fc;
  --liu-border-color-dark: #d4d7de;
  --liu-border-color-darker: #cdd0d6;
  --liu-fill-color: #f0f2f5;
  --liu-fill-color-light: #f5f7fa;
  --liu-fill-color-lighter: #fafafa;
  --liu-fill-color-extra-light: #fafcff;
  --liu-fill-color-dark: #ebedf0;
  --liu-fill-color-darker: #e6e8eb;
  --liu-fill-color-blank: #ffffff;
  --liu-border-width: 1px;
  --liu-border-style: solid;
  --liu-border-color-hover: var(--liu-text-color-disabled);
  --liu-border: var(--liu-border-width) var(--liu-border-style)
    var(--liu-border-color);
  --liu-border-radius-base: 4px;
  --liu-border-radius-small: 2px;
  --liu-border-radius-round: 20px;
  --liu-border-radius-circle: 100%;
  --liu-font-size-extra-large: 20px;
  --liu-font-size-large: 18px;
  --liu-font-size-medium: 16px;
  --liu-font-size-base: 14px;
  --liu-font-size-small: 13px;
  --liu-font-size-extra-small: 12px;
  --liu-font-family:
    "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  --liu-font-weight-primary: 500;
  --liu-disabled-bg-color: var(--liu-fill-color-light);
  --liu-disabled-text-color: var(--liu-text-color-placeholder);
  --liu-disabled-border-color: var(--liu-border-color-light);
  --liu-transition-duration: 0.3s;
  --liu-transition-duration-fast: 0.2s;
}

body {
  font-family: var(--liu-font-family);
  font-weight: 400;
  font-size: var(--liu-font-size-base);
  color: var(--liu-text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--liu-color-primary);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--liu-color-primary-light-3);
}
a:active {
  color: var(--liu-color-primary-dark-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--liu-text-color-regular);
  font-weight: inherit;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: calc(var(--liu-font-size-base) + 6px);
}

h2 {
  font-size: calc(var(--liu-font-size-base) + 4px);
}

h3 {
  font-size: calc(var(--liu-font-size-base) + 2px);
}

h4,
h5,
h6,
p {
  font-size: inherit;
}

p {
  line-height: 1.8;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

sup,
sub {
  font-size: calc(var(--liu-font-size-base) - 1px);
}

small {
  font-size: calc(var(--liu-font-size-base) - 2px);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--liu-border-color-lighter);
}

.liu-icon {
  --liu-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--liu-icon-color);
  font-size: inherit;
}

.liu-icon-primary {
  --liu-icon-color: var(--liu-color-primary);
}

.liu-icon-success {
  --liu-icon-color: var(--liu-color-success);
}

.liu-icon-warning {
  --liu-icon-color: var(--liu-color-warning);
}

.liu-icon-danger {
  --liu-icon-color: var(--liu-color-danger);
}

.liu-icon-info {
  --liu-icon-color: var(--liu-color-info);
}

.liu-button {
  --liu-button-font-weight: var(--liu-font-weight-primary);
  --liu-button-border-color: var(--liu-border-color);
  --liu-button-bg-color: var(--liu-fill-color-blank);
  --liu-button-text-color: var(--liu-text-color-regular);
  --liu-button-disabled-text-color: var(--liu-disabled-text-color);
  --liu-button-disabled-bg-color: var(--liu-fill-color-blank);
  --liu-button-disabled-border-color: var(--liu-border-color-light);
  --liu-button-hover-text-color: var(--liu-color-primary);
  --liu-button-hover-bg-color: var(--liu-color-primary-light-9);
  --liu-button-hover-border-color: var(--liu-color-primary-light-7);
  --liu-button-active-text-color: var(--liu-button-hover-text-color);
  --liu-button-active-border-color: var(--liu-color-primary);
  --liu-button-active-bg-color: var(--liu-button-hover-bg-color);
  --liu-button-outline-color: var(--liu-color-primary-light-5);
  --liu-button-active-color: var(--liu-text-color-primary);
}

.liu-button {
  display: inline-flex;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  height: 40px;
  background-color: var(--liu-button-bg-color);
  border: var(--liu-border);
  border-color: var(--liu-button-border-color);
  color: var(--liu-button-text-color);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: var(--liu-button-font-weight);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: middle;
  padding: 12px 20px;
  font-size: var(--liu-font-size-base);
  border-radius: var(--liu-border-radius-base);
}
.liu-button:hover, .liu-button:focus {
  color: var(--liu-button-hover-text-color);
  border-color: var(--liu-button-hover-border-color);
  background-color: var(--liu-button-hover-bg-color);
  outline: none;
}
.liu-button:active {
  color: var(--liu-button-active-text-color);
  border-color: var(--liu-button-active-border-color);
  background-color: var(--liu-button-active-bg-color);
  outline: none;
}
.liu-button.is-round {
  border-radius: var(--liu-border-radius-round);
}
.liu-button.is-disabled, .liu-button.is-disabled:hover .liu-button.is-disabled:focus, .liu-button[disabled], .liu-button[disabled]:hover, .liu-button[disabled]:focus {
  cursor: not-allowed;
  opacity: 0.6;
  color: var(--liu-button-disabled-text-color);
  border-color: var(--liu-button-disabled-border-color);
  background-color: var(--liu-button-disabled-bg-color);
  background-image: none;
}
.liu-button [class*=liu-icon] + span {
  margin-left: 8px;
  position: relative;
  bottom: 2px;
}
.liu-button.is-circle {
  border-radius: 50%;
  padding: 12px;
}

.liu-button-primary {
  --liu-button-text-color: var(--liu-color-white);
  --liu-button-bg-color: var(--liu-color-primary);
  --liu-button-border-color: var(--liu-color-primary);
  --liu-button-outline-color: var(--liu-color-primary-light-5);
  --liu-button-active-color: var(--liu-color-primary-dark-2);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-primary-light-3);
  --liu-button-hover-border-color: var(--liu-color-primary-light-3);
  --liu-button-active-bg-color: var(--liu-color-primary-dark-2);
  --liu-button-active-border-color: var(--liu-color-primary-dark-2);
  --liu-button-disabled-text-color: var(--liu-color-white);
  --liu-button-disabled-bg-color: var(--liu-color-primary-light-5);
  --liu-button-disabled-border-color: var(--liu-color-primary-light-5);
}

.liu-button-primary.is-plain {
  --liu-button-text-color: var(--liu-color-primary);
  --liu-button-bg-color: var(--liu-color-primary-light-9);
  --liu-button-border-color: var(--liu-color-primary-light-5);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-primary);
  --liu-button-hover-border-color: var(--liu-color-primary);
  --liu-button-active-text-color: var(--liu-color-white);
}

.liu-button-success {
  --liu-button-text-color: var(--liu-color-white);
  --liu-button-bg-color: var(--liu-color-success);
  --liu-button-border-color: var(--liu-color-success);
  --liu-button-outline-color: var(--liu-color-success-light-5);
  --liu-button-active-color: var(--liu-color-success-dark-2);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-success-light-3);
  --liu-button-hover-border-color: var(--liu-color-success-light-3);
  --liu-button-active-bg-color: var(--liu-color-success-dark-2);
  --liu-button-active-border-color: var(--liu-color-success-dark-2);
  --liu-button-disabled-text-color: var(--liu-color-white);
  --liu-button-disabled-bg-color: var(--liu-color-success-light-5);
  --liu-button-disabled-border-color: var(--liu-color-success-light-5);
}

.liu-button-success.is-plain {
  --liu-button-text-color: var(--liu-color-success);
  --liu-button-bg-color: var(--liu-color-success-light-9);
  --liu-button-border-color: var(--liu-color-success-light-5);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-success);
  --liu-button-hover-border-color: var(--liu-color-success);
  --liu-button-active-text-color: var(--liu-color-white);
}

.liu-button-warning {
  --liu-button-text-color: var(--liu-color-white);
  --liu-button-bg-color: var(--liu-color-warning);
  --liu-button-border-color: var(--liu-color-warning);
  --liu-button-outline-color: var(--liu-color-warning-light-5);
  --liu-button-active-color: var(--liu-color-warning-dark-2);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-warning-light-3);
  --liu-button-hover-border-color: var(--liu-color-warning-light-3);
  --liu-button-active-bg-color: var(--liu-color-warning-dark-2);
  --liu-button-active-border-color: var(--liu-color-warning-dark-2);
  --liu-button-disabled-text-color: var(--liu-color-white);
  --liu-button-disabled-bg-color: var(--liu-color-warning-light-5);
  --liu-button-disabled-border-color: var(--liu-color-warning-light-5);
}

.liu-button-warning.is-plain {
  --liu-button-text-color: var(--liu-color-warning);
  --liu-button-bg-color: var(--liu-color-warning-light-9);
  --liu-button-border-color: var(--liu-color-warning-light-5);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-warning);
  --liu-button-hover-border-color: var(--liu-color-warning);
  --liu-button-active-text-color: var(--liu-color-white);
}

.liu-button-danger {
  --liu-button-text-color: var(--liu-color-white);
  --liu-button-bg-color: var(--liu-color-danger);
  --liu-button-border-color: var(--liu-color-danger);
  --liu-button-outline-color: var(--liu-color-danger-light-5);
  --liu-button-active-color: var(--liu-color-danger-dark-2);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-danger-light-3);
  --liu-button-hover-border-color: var(--liu-color-danger-light-3);
  --liu-button-active-bg-color: var(--liu-color-danger-dark-2);
  --liu-button-active-border-color: var(--liu-color-danger-dark-2);
  --liu-button-disabled-text-color: var(--liu-color-white);
  --liu-button-disabled-bg-color: var(--liu-color-danger-light-5);
  --liu-button-disabled-border-color: var(--liu-color-danger-light-5);
}

.liu-button-danger.is-plain {
  --liu-button-text-color: var(--liu-color-danger);
  --liu-button-bg-color: var(--liu-color-danger-light-9);
  --liu-button-border-color: var(--liu-color-danger-light-5);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-danger);
  --liu-button-hover-border-color: var(--liu-color-danger);
  --liu-button-active-text-color: var(--liu-color-white);
}

.liu-button-info {
  --liu-button-text-color: var(--liu-color-white);
  --liu-button-bg-color: var(--liu-color-info);
  --liu-button-border-color: var(--liu-color-info);
  --liu-button-outline-color: var(--liu-color-info-light-5);
  --liu-button-active-color: var(--liu-color-info-dark-2);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-info-light-3);
  --liu-button-hover-border-color: var(--liu-color-info-light-3);
  --liu-button-active-bg-color: var(--liu-color-info-dark-2);
  --liu-button-active-border-color: var(--liu-color-info-dark-2);
  --liu-button-disabled-text-color: var(--liu-color-white);
  --liu-button-disabled-bg-color: var(--liu-color-info-light-5);
  --liu-button-disabled-border-color: var(--liu-color-info-light-5);
}

.liu-button-info.is-plain {
  --liu-button-text-color: var(--liu-color-info);
  --liu-button-bg-color: var(--liu-color-info-light-9);
  --liu-button-border-color: var(--liu-color-info-light-5);
  --liu-button-hover-text-color: var(--liu-color-white);
  --liu-button-hover-bg-color: var(--liu-color-info);
  --liu-button-hover-border-color: var(--liu-color-info);
  --liu-button-active-text-color: var(--liu-color-white);
}

.liu-button-large {
  --liu-button-size: 50px;
  height: var(--liu-button-size);
  padding: 19px;
  font-size: var(--liu-font-size-base);
  border-radius: var(--liu-border-radius-base);
}

.liu-button-small {
  --liu-button-size: 24px;
  height: var(--liu-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--liu-border-radius-base) - 1px);
}