@use 'sass:color';
$colors: (
  primary: #409eff,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399
);
$themeArr: 'primary', 'success', 'warning', 'danger', 'info';
:root {
  @each $var, $color in $colors {
    --liu-color-#{$var}: #{$color};
    @for $i from 1 through 4 {
      --liu-color-#{$var}-light-#{$i * 2 + 1}: #{color.mix(
          #fff,
          $color,
          ((2 * $i + 1) * 10 * 1%)
        )};
    }
    //   dark2和light8是与上面的规则不符的，所以需要单独写
    --liu-color-#{$var}-dark-2: #{color.mix(#000, $color, 20 * 1%)};
    --liu-color-#{$var}-light-8: #{color.mix(#fff, $color, 80 * 1%)};
  }
  // 接下来，还有一些其他的颜色变量
  // 对应的是 ElementUI 里面的中性色
  --liu-color-white: #fff;
  --liu-color-black: #000;
  --liu-bg-color: #ffffff;
  --liu-bg-color-page: #f2f3f5;
  --liu-bg-color-overlay: #ffffff;
  --liu-text-color-primary: #303133;
  --liu-text-color-regular: #606266;
  --liu-text-color-secondary: #909399;
  --liu-text-color-placeholder: #a8abb2;
  --liu-text-color-disabled: #c0c4cc;
  --liu-border-color: #dcdfe6;
  --liu-border-color-light: #e4e7ed;
  --liu-border-color-lighter: #ebeef5;
  --liu-border-color-extra-light: #f2f6fc;
  --liu-border-color-dark: #d4d7de;
  --liu-border-color-darker: #cdd0d6;
  --liu-fill-color: #f0f2f5;
  --liu-fill-color-light: #f5f7fa;
  --liu-fill-color-lighter: #fafafa;
  --liu-fill-color-extra-light: #fafcff;
  --liu-fill-color-dark: #ebedf0;
  --liu-fill-color-darker: #e6e8eb;
  --liu-fill-color-blank: #ffffff;

  // 和 border 相关的变量
  --liu-border-width: 1px;
  --liu-border-style: solid;
  --liu-border-color-hover: var(--liu-text-color-disabled);
  --liu-border: var(--liu-border-width) var(--liu-border-style)
    var(--liu-border-color);
  --liu-border-radius-base: 4px;
  --liu-border-radius-small: 2px;
  --liu-border-radius-round: 20px;
  --liu-border-radius-circle: 100%;

  // 和 font 相关的变量
  --liu-font-size-extra-large: 20px;
  --liu-font-size-large: 18px;
  --liu-font-size-medium: 16px;
  --liu-font-size-base: 14px;
  --liu-font-size-small: 13px;
  --liu-font-size-extra-small: 12px;
  --liu-font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --liu-font-weight-primary: 500;

  // 和 disabled 相关的变量
  --liu-disabled-bg-color: var(--liu-fill-color-light);
  --liu-disabled-text-color: var(--liu-text-color-placeholder);
  --liu-disabled-border-color: var(--liu-border-color-light);

  // 和 transition 过渡相关的变量
  --liu-transition-duration: 0.3s;
  --liu-transition-duration-fast: 0.2s;
}
