@use '../vars.scss' as *;
.liu-icon {
  --liu-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--liu-icon-color);
  font-size: inherit;
}

@each $key in $themeArr {
  .liu-icon-#{$key} {
    --liu-icon-color: var(--liu-color-#{$key});
  }
}
